.card {
  background: #000;
  color: white;
  width: 560px;
  margin: 0 auto;
  padding: 45px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}
p {
  font-size: 18px;
}
/* default margin is equal to font size */
.links {
  margin-top: 40px;
  margin-bottom: 0;
}

.accent-color {
  color: yellow;
}

a:link {
  color: #ffe600;
}
/* 
 Block level elements will create a new line of content, stacking on top of each other by default
 paragraphs 
 heading 
 lists and list items 
 div
 header footer main setion and layout related once
 default width: 100%;
 default height: 0 but the grow in height according to the content is inside of them.
  */

/* 
  Inline elements 

  Inline elements stay within the flow of what's around them.
  links 
  strond 
  em
  span 
  images(sort of special case said by kevinn powel)
   */

/* 
   There are some importand things to know about inline elements: 
   - you can only nest other inline elements in them ( such as putting a link inside a strong element)
   - They will only repect margin, padding, and borders which are placed on the left or the right side, and not the top and bottom.
   - height an width set kora jay nah
*/

/*  styling links 
 Links have different "states" that we can style as well 

 - Default "link" state
 - visited 
 - focus
 - hover
 - active

 We can target these different states by using something called a pseudo-class

 - a:link
 - a:visited
 - a:focus
 - a:hover
  - a:active



  Make sure when styling links, people know that you can interact with them: It should be very obvious

  - change the color on hover and focus 
  - leave the text-decoration on, or, it you turn it off, make sure obvious that it's a link!
  - remember to also include styles for :focus 
 */
